* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.parent{

    height: 100%;
    width: 100%;
    background-color: #222;
    display: flex;
    /* flex-direction: column; Now Justify work in y axis and align items work in x axix */
     flex-wrap: wrap; /*- badha div shrink nahi thay */

}

#box1{

    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 1px solid white;
    /* flex-shrink: 0; -- aa child sivay badha shrink thase */

}

#box2{

    height: 200px;
    width: 200px;
    background-color: lightcyan;
    border: 1px solid white;

}

#box3{

    height: 200px;
    width: 200px;
    background-color: lightgreen;
    border: 1px solid white;

}