@font-face {
    font-family: Satoshi;
    src: url("./Assets/Satoshi.woff");
}

@font-face {
    font-family: RobotoMono;
    src: url("./Assets/RobotoMono.woff2");
}

@font-face {
    font-family: Chillax;
    src: url("./Assets/Chillax.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


body{

    background-color: #121212;

}

main {
    width:100%;
    background-color: #121212;
    min-height: 100vh;
}

header{

    height: 80px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 10px 18px;

}

.header_leftnav h1{

    font-size: 20px;
    font-weight: 300;
    color: whitesmoke;
    font-family: "Chillax";
    transform: translateY(12px);
    transform: translateX(10px);

}

.header_rightnav{

    display: flex;
    gap:10px;
    align-items: center;

}

#header_rightnav_menuicon{

    display: none;

}

.header_rightnav button{

    padding: 14px 24px;
    background-color: #1E1E1E;
    color: white;
    font-family: "RobotoMono";
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;

}

.header_rightnav button:hover{

    background-color: #2c2b2b;

}

#header_rightnav_cartbtn_icon{

    padding: 1px 8px;
    background-color: #CEBD63;
    color: black;
    border-radius: 50px;
    font-size: 16px;
    font-family: "Satoshi";
    font-weight: 200;

}

#header_rightnav_gitbtn{

    background-color: #CEBD63;
    color: black;

}

#header_rightnav_gitbtn:hover{

    background-color: #b1a462;

}

/* View 1 Section */

.view1{

    display: flex;
    padding: 0px 16px;
    gap: 20px;

}

.view1_left{

    /* height: 725px; */
    width: 50%;
    background: url("./Assets/Section1Image.webp");
    background-size: cover;
    border-radius: 12px;

}

.view1_right{

    /* height: 725px; */
    width: 50%;
    background-color: #1E1E1E;
    border-radius: 12px;
    padding: 60px;

}


#view1_right_header{

    font-family: "RobotoMono";
    color: whitesmoke;
    font-weight:400;
    font-size: 14px;

}

.view1_right_footer_container{

    margin-top: 180px;

}

#view1_title{

    font-size: 60px;
    font-family: "Chillax";
    line-height: 70px;
    color: whitesmoke;
    font-weight: 400;

}

#view1_discription{

    font-family: "Satoshi";
    color: #9f9e9c;
    font-weight: 500;
    /* width: 600px; */
    font-size: 20px;
    margin-top: 20px;
    line-height: 32px;

}

#view1_right_story_icon{

    border: 1px solid #9f9e9c;
    background-color: #2b2929;
    color: white;
    border-radius: 50%;
    padding: 12px 13px;
    cursor: pointer;
    font-weight: 400;

}

#view1_right_story_icon:hover{

    background-color: #545252;

}

.our-story-container{

    margin-top: 40px;
    display: flex;
    gap: 12px;
    align-items: center;

}

#view1_right_ourstorytext{

    font-family: "RobotoMono";
    color: whitesmoke;
    font-weight:400;
    font-size: 14px;   
    cursor: pointer;

}

/* Responsive For Oppo A5s */

@media (max-width: 360px) {

    header{

        padding: 0px 12px;

    }

    .header_leftnav{

        transform: translateX(-5px);

    }


    .header_rightnav button{

        display: none;

    }

    .header_rightnav{

        gap: 20px;

    }   

    #header_rightnav_cartbtn{

        display: block;

    }

    #header_rightnav_cartbtn_icon{

        padding: 1px 7px;

    }

    #header_rightnav_menuicon{

        display: block;
        border: 1px solid #1f1d1d;
        color: whitesmoke;
        background-color: #1E1E1E;
        padding: 12px 14px;
        font-size: 20px;
        border-radius: 2px;

    }

    .view1{

        flex-direction: column;
        padding: 0px 12px;

    }

    .view1_left{

        min-height: 50vh;
        width: 93vw;

    }


    .view1_right{

        padding: 30px;
        min-height: 50vh;
        width: 93vw;
        margin-bottom: 20px;

    }

    .view1_right_footer_container{

        margin-top: 40px;

    }

    #view1_title{

        font-size: 36px;
        line-height: 48px;

    }

    #view1_discription{

        max-width: 240px;
        font-weight: 600;

    }

    .our-story-container{
        margin-top: 24px;
    }


}

@media (max-width:415px) {
    

    header{

        padding: 0px 14px;
        /* background-color: red; */

    }

    .header_leftnav{

        transform: translateX(-5px);

    }


    .header_rightnav button{

        display: none;

    }

    .header_rightnav{

        gap: 20px;

    }   

    #header_rightnav_cartbtn{

        display: block;

    }

    #header_rightnav_cartbtn_icon{

        padding: 1px 7px;

    }

    #header_rightnav_menuicon{

        display: block;
        border: 1px solid #1f1d1d;
        color: whitesmoke;
        background-color: #1E1E1E;
        padding: 12px 14px;
        font-size: 20px;
        border-radius: 2px;

    }

    .view1{

        flex-direction: column;
        padding: 0px 12px;

    }

    .view1_left{

        min-height: 50vh;
        width: 93vw;

    }


    .view1_right{

        padding: 30px;
        min-height: 50vh;
        width: 93vw;
        margin-bottom: 20px;

    }

    .view1_right_footer_container{

        margin-top: 40px;

    }

    #view1_title{

        font-size: 36px;
        line-height: 48px;

    }

    #view1_discription{

        max-width: 240px;
        font-weight: 600;

    }

    .our-story-container{
        margin-top: 24px;
    }


}

@media (max-width:576px) {
    

    header{

        padding: 0px 14px;
        /* background-color: red; */

    }

    .header_leftnav{

        transform: translateX(-5px);

    }


    .header_rightnav button{

        display: none;

    }

    .header_rightnav{

        gap: 20px;

    }   

    #header_rightnav_cartbtn{

        display: block;

    }

    #header_rightnav_cartbtn_icon{

        padding: 1px 7px;

    }

    #header_rightnav_menuicon{

        display: block;
        border: 1px solid #1f1d1d;
        color: whitesmoke;
        background-color: #1E1E1E;
        padding: 12px 14px;
        font-size: 20px;
        border-radius: 2px;

    }

    .view1{

        flex-direction: column;
        padding: 0px 14px;

    }

    .view1_left{

        min-height: 50vh;
        width: 93vw;

    }


    .view1_right{

        padding: 30px;
        min-height: 50vh;
        width: 93vw;
        margin-bottom: 20px;

    }

    .view1_right_footer_container{

        margin-top: 40px;

    }

    #view1_title{

        font-size: 36px;
        line-height: 48px;

    }

    #view1_discription{

        max-width: 240px;
        font-weight: 600;

    }

    .our-story-container{
        margin-top: 24px;
    }


}


@media (max-width:768px) AND (min-width: 710px) {
    

    header{

        padding: 0px 14px;
        /* background-color: red; */

    }

    .header_leftnav{

        transform: translateX(-5px);

    }


    .header_rightnav button{

        display: none;

    }

    .header_rightnav{

        gap: 20px;

    }   

    #header_rightnav_gitbtn{display: block;}

    #header_rightnav_cartbtn{

        display: block;

    }

    #header_rightnav_cartbtn_icon{

        padding: 1px 7px;

    }

    #header_rightnav_menuicon{

        display: block;
        border: 1px solid #1f1d1d;
        color: whitesmoke;
        background-color: #1E1E1E;
        padding: 12px 14px;
        font-size: 20px;
        border-radius: 2px;

    }

    .view1{

        flex-direction: column;
        padding: 0px 12px;

    }

    .view1_left{

        /* min-height: 50vh; */
        height: 68vh;
        width: 97vw;

    }


    .view1_right{

        padding: 40px;
        min-height: 50vh;
        width: 97vw;
        margin-bottom: 20px;

    }

    .view1_right_footer_container{

        margin-top: 40px;

    }

    #view1_title{

        font-size: 3.5rem;
        line-height: 4rem;
        max-width: 65vw;

    }

    #view1_discription{

        max-width: 65vw;
        font-weight: 600;

    }

    .our-story-container{
        margin-top: 24px;
    }


}