:root {
  --primary: #007bff;
  --light-bg: #f6f7f9;
  --purewhite: #ffffff;
  --pureblack: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
}

.flex-beetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header{
    height: 100px;
    width: 100%;
    padding: 0px 40px;  
}

.left-nav{
    height: 100%;
    gap: 8px;
}

.left-nav h2{
    font-weight: 600;
    font-size: 24px;
}

.left-nav h2:hover{
    color: var(--primary);
    cursor: pointer;
}

.left-nav img{
    height: 70px;
    width: 70px;
}

.right-nav-container{
    width: 64%;
    height: 100%;
}

.center-nav{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 100%;
}

.center-nav h4{
    font-weight: 400;
}

.center-nav h4:hover{
    color: var(--primary);
    cursor: pointer;
}


.right-nav{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-primary{
    padding: 12px 24px;
    background-color: var(--primary);
    color: var(--purewhite);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.btnbig{
    padding: 15px 24px;
}

#Signup{
    background-color: var(--purewhite);
    color: var(--primary);
    border: 1px solid var(--primary);
}

#Signup:hover{
    color: var(--purewhite);
    background-color: var(--primary);
}

.hero{
    height: auto;
    width: 95%;
    margin: 10px auto 0px;
    background-color: var(--light-bg);
    border-radius: 25px;
    padding:  70px 50px;
}

.heroupper{
    height: 225px;
    width: 100%;
    display: flex;
}

.heroupper .left-hero{
    height: 100%;
    width: 39%;
}

.left-hero h1{
    font-size: 48px;
    font-weight: 500;
}

.righthero h3{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.righthero{    
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.buttons{
    display: flex;
    gap: 20px;
}

.img{
    margin-top: 38px;
    height: 74%;
    width: 100%;
    overflow: hidden;
}

.img img{
    height: 650px;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.Counter{
    height: 320px;
    width: 95%;
    margin: 10px auto 0px;
    display: flex;
    justify-content: space-between;
}

.card{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    justify-content: center;
    text-align: center;
}

.card h1{
    font-size: 65px;
    font-weight: 400;
}

.card h2{
    font-size: 20px;
    color: #c3c2c1;
    font-weight: 300;
}

#last{
    margin-right: 32px;
}

.aboutus{
    height: auto;
    width: 95%;
    margin: 1px auto;
    background-color: var(--light-bg);
    border-radius: 25px;
    padding:  70px 60px;
    display: flex;
    gap: 70px;
}

.leftofaboutus{
    height: 600px;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.rightofaboutus{
    height: 600px;
    width: 47%;
    background: url("./Aboutus.png");
    border-radius: 50px;
    background-size: cover;
    background-position: 100%;
}

.leftofaboutus button{
    margin-top: 25px;
    color: var(--pureblack);
    padding: 12px 24px;
    background-color: var(--light-bg);
    border: 1px solid var(--pureblack);
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.bottomofaboutus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48%;
}

.bottomofaboutus h1{
    font-size: 43px;
    font-weight: 500;
}

.bottomofaboutus h3{
    font-size: 20px;
    font-weight: 300;
}

.cards{
    height: auto;
    width: 95%;
    margin: 1px auto;
    border-radius: 25px;
    padding:  80px 60px;
    display: flex;
    gap: 70px; 
}

.top button{
    margin-top: 0px;
    color:var(--pureblack);
    padding: 12px 24px;
    background-color: var(--light-bg);
    border: 1px solid var(--pureblack);
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.top{
    width: 100%;
}

.top .top-header h1{
    font-weight: 600;
    font-size: 48px;
}

.top .top-header h4{
    font-weight: 400;
    font-size: 21px;
}

.top .top-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.h4{
    height: 100%;
    width: 50%;
    padding-top: 28px;
}
 
/* Galary Start */

.cards-container{
    height: auto;
    width: 100;
    margin: 120px auto 0px;
    padding-left: 2px;
    display: flex;
    gap:40px;
    flex-wrap: wrap;
}

/* Phtoto Front Container */

.Gallary-Layout{  
    height: 400px;
    width: 300px;
    cursor: pointer;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
}

/* For Advance Hover Effect */

.Gallary-Layout:hover {
  transform: translateY(-15px) scale(1.03);
  box-shadow: 0px 20px 40px var(--pureblack);;
} 

.Gallary-Layout:hover{
    background-image: none !important;
}

.Gallary-Layout:hover .Front-Card-Bottom{
    display: none;
}

.Gallary-Layout:hover .Div-Back{
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    visibility: visible;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 80px;
}

.Div-Back-Bottom-Social-Icons-Container{
    display: flex;
    gap: 10px;
}

.Gallary-Layout:hover .Div-Back h1{
    color: var(--purewhite);
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 5px;
}

.Gallary-Layout:hover .Div-Back h3
,.Gallary-Layout:hover .Div-Back h4{
    color: var(--purewhite);
    font-weight: 300;
    font-size: 18px;
}

.Gallary-Layout:hover .Div-Back .Div-Back-Bottom-Social-Icons-Container i{
    color: var(--purewhite);
    font-weight: 300;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--purewhite);
    border-radius: 80px;
    font-size: 20px;
}

.Gallary-Layout:hover .Div-Back-Bottom-Social-Icons-Container i:hover{
    background-color: var(--pureblack);
    border: 1px solid var(--pureblack);
}

.Div-Back-Bottom-Social-Icons-Container h1 .fa-linkedin-in {
    font-size: 16px;
    padding: 11px 12px !important; 
}


.Gallary-Layout .Div-Back{ 
    height: 100px;
    width: 100%;
    visibility: hidden;
}

.Front-Card-Bottom{
    height: 25%;
    width: 100%;
    background: linear-gradient(transparent,var(--pureblack));
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Front-Card-Bottom h2{
    color: var(--purewhite);
    font-size: 24px;
    font-weight: 400;
}

.Front-Card-Bottom h4{
    color: wheat;
    font-size: 18px;
    font-weight: 400;
}

.Gallary-Layout:nth-child(1){
    background: url("./CR1.jpeg");
    background-size: cover;
}.Gallary-Layout:nth-child(2){
    background: url("./CR2.jpeg");
    background-size: cover;
}.Gallary-Layout:nth-child(3){
    background: url("./CR3.jpeg");
    background-size: cover;
}.Gallary-Layout:nth-child(4){
    background: url("./CR4.jpeg");
    background-size: cover;
}.Gallary-Layout:nth-child(5){
    background: url("./CR5.jpeg");
    background-size: cover;
}.Gallary-Layout:nth-child(6){
    background: url("./CR6.jpeg");
    background-size: cover;
}.Gallary-Layout:nth-child(7){
    background: url("./CR7.jpeg");
    background-size: cover;
}.Gallary-Layout:nth-child(8){
    background: url("./CR8.jpeg");
    background-size: cover;
}

.Journey{
    height: auto;
    width: 95%;
    margin: 10px auto;
    background-color: var(--light-bg);
    border-radius: 25px;
    padding:  50px 70px;
    gap: 70px; 
}

.Journey .Jorney-bottom{
    height: auto;
    width: 100%;
    border-radius: 25px;
    display: flex;
    gap: 70px;
    margin-top: 50px;
}

.LeftJourney{
    height: 600px;
    width: 46%;
    background: url("./Journey.png");
    border-radius: 50px;
    background-size: cover;
    background-position: 100%;    
}

.RightJourney{
    height: 600px;
    width: 49%;
}

.Eight{
    margin-top: 50px;
    height: 200px;
    width: 100%;
    display: flex;
}

.Eight .leftofEight{
    width: 80px;
}

.Eight .leftofEight i{
    color: var(--purewhite);
    font-weight: 300;
    padding: 10px;
    background-color: var(--primary);
    border-radius: 80px;
    font-size: 20px;
    cursor: pointer;
}

.Eight .leftofEight i:hover{
    background-color: var(--purewhite);
    color: var(--primary);
}

.Eight .rightofEight{
    width: 100%;
    height: 100%;
    padding-top: 12px;
}

.Eight .rightofEight h4{
    font-size: 18px;
    color: var(--primary);
}

.Eight .rightofEight h1{
    font-size: 22px;
    font-weight: 500;
}

.Eight .rightofEight h3{
    font-size: 20px;
    font-weight: 400;
}

.Normal-Journey-boxes{
    height: auto;
    width: 100%;
    display: flex;
}

.leftofNormal-Journey-boxes{
    width: 71px;
}

.leftofNormal-Journey-boxes i{
    color: var(--purewhite);
    font-weight: 300;
    padding: 10px;
    background-color: #A9A9A9;
    border-radius: 80px;
    font-size: 20px;
    cursor: pointer;  
}

.leftofNormal-Journey-boxes i:hover{
    color: var(--primary);
}

.rightofNormal-Journey-boxes h4{
    font-size: 18px;
    color: #A9A9A9;
    font-weight: 400;
}

.rightofNormal-Journey-boxes h1{
    font-size: 22px ;
    font-weight: 500;
}

.rightofNormal-Journey-boxes{
    width: 100%;
    height: 100%;
    padding-top: 12px;
}

/* Top of Journey */

.top-jorney button{
    margin-top: 0px;
    color:var(--pureblack);
    padding: 12px 24px;
    background-color: var(--light-bg);
    border: 1px solid var(--pureblack);
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.top-jorney{
    width: 100%;
}

.top-jorney .top-jorney-header h1{
    font-weight: 600;
    font-size: 38px;
    width: 685px;
}

.top-jorney .top-jorney-header h4{
    font-weight: 300;
    font-size: 22px;
}

.top-jorney .top-jorney-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
}

.h4butdiff{
    height: 100%;
    width: 50%;
    padding-top: 35px;
}

/* Five Star */

.Fivestar{
    height: auto;
    width: 95%;
    margin: 65px auto 0px;
    border-radius: 25px;
    padding:  70px 60px;
    display: flex;
    gap: 80px;
}

.leftoffivestar{
    height: 500px;
    width: 49%;
}

.rightoffivestar{
    height: 500px;
    width: 48%;
    background: url("./FIVESTARMAN.png");
    border-radius: 50px;
    background-size: cover;
    background-position: 100%;
}

.leftoffivestar button{
    margin-top: 25px;
    color:var(--pureblack);
    padding: 12px 24px;
    background-color: var(--light-bg);
    border: 1px solid var(--pureblack);
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.Bottomoffivestar h4{
    font-size: 18px;
    font-weight: 400;
}

.Bottomoffivestar h3{
    font-size: 20px;
    font-weight: 300;
}
 
.topoffivestar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topoffivestar img{
    height: 50px;
}

.topoffivestar i{
    font-size: 25px;
    color: var(--primary);
}

.starts{
    display: flex;
    gap: 8px;
}

.Map{
    height: auto;
    width: 95%;
    margin: 1px auto;
    border-radius: 25px;
    padding:  70px 60px;
    display: flex;
    gap: 70px;
}

.leftofmap{
    height: 600px;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.rightofmap{
    height: 600px;
    width: 47%;
    background: url("./map.png");
    border-radius: 50px;
    background-size: cover;
    background-position: 100%;
}

.leftofmap button{
    color:var(--pureblack);
    padding: 12px 24px;
    background-color: var(--light-bg);
    border: 1px solid var(--pureblack);
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.topofmap h1{
    font-size: 40px;
    font-weight: 500;
}

.iconspackfooter {
  display: flex;
  gap: 20px;
  align-items: center;
}

.iconspackfooter i {
  color: var(--pureblack);
  font-weight: 300;
  height: 40px;
  width: 40px;
  border: 1px solid var(--pureblack);
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: 0.3s;
}

.iconspackfooter i:hover {
  color: var(--purewhite);
  background-color: var(--primary);
  border-color: var(--primary);
}

.Bottomofmap{
    display: flex;
    flex-direction: column;
}

.Bottomofmap h2{
    font-size: 20px;
    color: #7e3b20;
    font-weight: 400;
    margin-bottom: 5px;
}

.Bottomofmap h3{
    font-size: 24px;
    color: var(--pureblack);
    font-weight: 400;
}

footer{
    height: auto;
    width: 98%;
    margin: 65px auto 0px;
    background-color: var(--pureblack);
    color: var(--purewhite);
    padding:  60px 80px 70px 60px;
    border-radius: 35px;
}

.left-footer-logo{
    display: flex;
    align-items: center;
    gap: 6px;
}

.left-footer-logo h2{
    font-weight: 600;
    font-size: 28px;
}

.left-footer-logo h2:hover{
    color: var(--primary);
    cursor: pointer;
}

.left-footer-logo img{
    height: 70px;
    width: 70px;
}

.left-center-footer{
    margin-top: 24px;
}

.left-center-footer h1{
    font-size: 24px;
    font-weight: 300;
}

.left-end-footer{
    margin-top: 22px;   
    display: flex;
    gap: 20px;
}


.left-end-footer input{
    padding: 15px 28px 15px 24px;
    background-color: transparent;
    color: var(--purewhite);
    border: 1px solid var(--purewhite);
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.top-footer{
    display: flex;
    gap: 80px;
}

.center1footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center1footer h2{
    font-size: 16px;
    font-weight: 300;
    color: #b9b5b5;
}

#top2footer{
    margin-left: 110px;
}

#top3footer{
    margin-left: 110px;
}

.bottom-footer{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-bottom-footer{
    display: flex;
    gap: 4px;
    align-items: center;
}

.left-bottom-footer h2{
    font-size: 16px;
    font-weight: 500;
}

.center-bottom-footer{
    display: flex;
}

.center-bottom-footer h2{
    font-size: 16px;
    font-weight: 500;
}

#twiter{
    color: var(--purewhite);
    background-color: transparent;
    border: 2px solid var(--purewhite);
}

#twiter:hover{
    background-color: var(--primary);
}

#linkden{
    color: var(--purewhite);
    background-color: transparent;
    border: 2px solid var(--purewhite);
}

#linkden:hover{
    background-color: var(--primary);
}

#instagram{
    color: var(--purewhite);
    background-color: transparent;
    border: 2px solid var(--purewhite);
}

#instagram:hover{
    background-color: var(--primary);
}

#facebook{
    color: var(--purewhite);
    background-color: transparent;
    border: 2px solid var(--purewhite);
}

#facebook:hover{
    background-color: var(--primary);
}