*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

@mixin btn-style($bg-color){

    background-color: $bg-color;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 30px;
    outline: none;
    border: none;

}

.blue{

    @include btn-style(blue);

}

.red{

    @include btn-style(red);

}