*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 200%;
    width: 100%;
    background-color: black;
    position: relative;
}

.box{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}