*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: 1vw;
}

@mixin flex-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    @include flex-center();

    section{

        height: 50%;
        width: 50%;
        @include flex-center();
        flex-direction: column;
        background-color: wheat;

        h1{

            font-size: clamp(50px,5rem,19rem);/*Min,Default,Max*/
            font-weight: 300;

        }

        p{

            font-size: 3rem;
            font-weight: 400;

        }

    }

}